<!DOCTYPE html>
<html>

<head>
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.min.css">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.min.js"></script>
    <script src="{{ url_for('static', filename='hidden_script.js') }}"></script>
    <link rel="stylesheet" href="{{ url_for('static', filename='dashboard_style.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='dashboard_styleguide.css') }}">
    <style>
        .tablink {
            width: 50%;
        }
    </style>
    <script>
        function openCity(evt, cityName) {
            var i, x, tablinks;
            x = document.getElementsByClassName("tabs");
            for (i = 0; i < x.length; i++) {
                x[i].style.display = "none";
            }
            tablinks = document.getElementsByClassName("tablink");
            for (i = 0; i < tablinks.length; i++) { // Change this line to use tablinks.length
                tablinks[i].className = tablinks[i].className.replace(" w3-border-red", "");
            }
            document.getElementById(cityName).style.display = "block";
            evt.currentTarget.firstElementChild.className += " w3-border-red";
        }
        window.addEventListener('load', function () {
            // Call openCity with the 'Orders' argument
            openCity(event, 'Orders');
        });

    </script>
</head>

<body>
    <div class="user-dashboard">
        <div class="div">
            <div class="overlap">
                <div class="overlap-group">
                    <img class="line-2" src="{{ url_for('static', filename='images/line-4.svg') }}" />
                    <div class="line-3"></div>
                </div>
                <div class="frame">
                    <a href="{{ url_for('dashboard') }}">Dashboard</a>
                    <p style="font-size: 18px;"><a href="{{ url_for('survey') }}" style="text-decoration-line: none;">Survey</a>
                    </p>
                    <p style="font-size: 18px;"><a href="{{ url_for('addPets') }}" style="text-decoration-line: none;">Add
                        Pets</a>
                    </p>
                    <p style="font-size: 18px;"><a href="{{ url_for('orders') }}" style="text-decoration-line: none;">Orders</a>
                    </p>
                    <p style="font-size: 18px;"><a href="{{ url_for('sell') }}" style="text-decoration-line: none;">Pet</a>
                    </p>
                    <a href="/logout">Logout</a>
                  </div>
                <img class="image" src="{{ url_for('static', filename='images/banner.jpg') }}" />
            </div>
            <article style="position: relative;top:600px;width:100%;">
                <div class="w3-container">

                    <div class="w3-row">
                        <a href="javascript:void(0)" onclick="loadOrder();openCity(event, 'Orders');"
                            onload="openCity(event, 'Orders');">
                            <div class="w3-half tablink w3-bottombar w3-hover-light-grey w3-padding text-center">
                                Sell
                            </div>
                        </a>
                        <a href="javascript:void(0)" onclick="loadOrder();openCity(event, 'confrmOrders');">
                            <div class="w3-half tablink w3-bottombar w3-hover-light-grey w3-padding text-center">
                                Buy
                            </div>
                        </a>
                    </div>
                    <div id="Orders" class="w3-container tabs" style="display:none">
                        <div id="sell">

                        </div>
                    </div>

                    <div id="confrmOrders" class="w3-container tabs" style="display:none">
                        <div id="buy">

                        </div>
                    </div>
                </div>
            </article>

            <div class="header">
                <div class="header-2">
                    <div class="frame-21">
                        <div class="logo">
                            <div class="exclusive-2 text-danger">JA PETS</div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>

</html>